@layer components {
	.button {
		font-family: var(--font-outfit);
		@apply border border-gray-200 rounded-md text-gray-950;
	}

	.button-sm {
		@apply h-8 px-3 text-sm;
	}

	.button-md {
		@apply h-10 px-4 text-sm;
	}

	.button-lg {
		@apply h-12 px-5 text-base;
	}

	.button-xl {
		@apply h-14 px-6 text-lg;
	}

	.button-black {
		@apply bg-black text-white border border-transparent hover:bg-black/90;
	}

	.button-pink {
		@apply bg-primary text-white border border-transparent hover:bg-primary/90;
	}
}
