@layer base {
	:root {
		--font-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
		--font-outfit: "Outfit", "Inter", system-ui, sans-serif;
	}

	body {
		font-family: var(--font-inter);
	}

	button {
		cursor: pointer;
	}
}

@layer utilities {
	.mobile-only {
		@apply md:hidden;
	}

	.desktop-only {
		@apply hidden lg:block;
	}

	.desktop-hidden {
		@apply lg:hidden;
	}

	.mobile-hidden {
		@apply hidden md:block;
	}

	.form-checkbox {
		@apply flex items-center gap-2;
	}
}
