@layer base {
	body {
		@apply font-inter;
	}

	button {
		@apply cursor-pointer;
	}
}

@layer utilities {
	.mobile-only {
		@apply md:hidden;
	}

	.desktop-only {
		@apply hidden lg:block;
	}

	.desktop-hidden {
		@apply lg:hidden;
	}

	.mobile-hidden {
		@apply hidden md:block;
	}
}
